/*
// NÃO VAMOS USAR POR AGORA ESTÁ VARIAÇÃO.
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 100px;
}
ul {
  height: 25px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.img-topo {
  margin-top: 10px;
  height: 30px;
}

video {
  width: 100vw;
  min-height: 80vh;
}

.box-1 {
  position: absolute;
  bottom: 35%;
  width: 35%;
  left: 3%;
  z-index: 3;
}

.titulo {
  color: white;
  font-size: 75px;
  margin-bottom: 5px;
  font-weight: bold;
}

.paragrafo {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}

.link-assistir {
  cursor: pointer;
  background-color: white;
  color: #000;
  padding: 10px 20px;
  border-radius: 4px;
}
.link-informacao {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.35);
  color: #000;
  padding: 10px 20px;
  border-radius: 4px;
}

.img-carrosel {
  height: 150px;
}

#carouselExampleIndicators {
  background-color: transparent;
  position: absolute;
  bottom: 10px;
  left: 450px;
}

.botao-som {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
  position: absolute;
  top: 100px;
  right: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-conteudo {
  background-color: #181818;
  margin: 30px auto;
  padding: 20px;
  width: 60%;
  color: #fff;
}
